
body {
    font-family: sans-serif;
    padding: 20px;
    background: white;
    color: black;
    transition: all 0.3s ease;
}
body.dark-mode {
    background: #121212;
    color: white;
}
nav a {
    margin: 0 5px;
}
